<!DOCTYPE html>
<html>
<head>
	<title><%= typeof pageTitle==='undefined' ? 'movies' : pageTitle %></title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container-fluid">
	<div class="row" id="navigation">
		<table cellpadding="3" class="myTable" style="text-align:center">
			<tr>
				<td><a href="/">Search Another</a></td>
				<td><a href="/WatchList">View Watch List</a><td>
				<td><a href="javascript:history.back()">Previous Page</a></td>
			</tr>
		</table>
	</div>
</div>