<% include header %>
	<h1> Your Matching Results </h1>
	<h3> Choose a movie from the list below to see more details!</h3>
	<ol>
		<% for (var i = 0; i < Search.length; i++) { %>
			<li><a href="/details/<%= Search[i].imdbID %>"><%= Search[i].Title%></a>
			<%= Search[i].Year%></li>
		<%}%>
	</ol>
<% include footer %>