
	<% include header %>
<div class="container-fluid">
	<div class="row" id="navigation">
		<table cellpadding="3" class="myTable" style="text-align:center">
        	<tr>
				<td><a href="/">Search Another</a></td>
				<td><a href="javascript:history.back()">Previous Page</a></td>
				<br>
			</tr>
		</table>
	</div>

	<h1> Your Matching Results </h1>
	<h3> Choose a movie from the list below to see more details!</h3>
	<br>
	
	<ol>
		<% for (var i = 0; i < Search.length; i++) { %>
		<li><a href="/details/<%= Search[i].imdbID %>"><%= Search[i].Title%></a>
			<%= Search[i].Year%></li>
			<%}%>
		</ol>
</div>
<% include footer %>