
<% include header %>
<h1> Welcome to a quick & easy <br>IMDB Search Engine! </h1>
<form action="/results" method="get">
	<div>
	<input name="movieQuery" type="text" placeholder="Search for a Movie">
	<input type="submit" value="Submit">
	</div>
	<div>

	</div>
</form>
<% include footer %>