<!DOCTYPE html>
<html>
	<head>
		<title><%= typeof pageTitle==='undefined' ? 'movies' : pageTitle %></title>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/styles.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="home">
			<div class="homePageContent">
				<h1> Welcome to a quick & easy <br>IMDB Search Engine! </h1>
				<form action="/results" method="get">
					<input name="movieQuery" type="text" placeholder="Search for a Movie" class="movieQuery">
					<input type="submit" value="Submit">
				</form>
			</div>
		</div>
	</body>
</html>