h1 {
	color: black;
	font-family: 'Playfair Display', serif;
	font-weight: 900;
}

h2 {
	color: black;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}

h3 {
	color: black;
	font-family: 'Playfair Display', serif;
	font-weight: 500;
}

em {
	font-style: bold;
}

#watch {
width: auto;
}

body {
	margin-left:40px;
	margin-right:40px;

	background-color: #EADFD2;
	font-size: large;
}

#navigation {
	text-align: right;
	word-spacing: 5px;
}

.home {
	height: 100%;
	background: url('img/filmTreeTransparent.png') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	padding-top: 5%;
  	padding-left: 5%;
  	margin-top: 0px;
  	margin-bottom: 0px;
}

html, body {
  height:100%;
}

td {
    width: 100%;
    padding: 5px;
    white-space: nowrap;
    background-color: #ccc;
    color: #900;
}